@media screen and (min-width: 500rem) {
    .container {
        margin: 1em 2em;
    }
}

.container {
    column-count: 3;
    column-width: 10em;
}

img,
picture,
video {
    max-width: 100%;
}

@import url(https://fonts.google.com/specimen/Montserrat);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: #152237;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 84px;
    height: 31px;

}

.navbar a {
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
}

.formations {
    margin-left: 350px;
    margin-top: 31px;
}

.boutton-connexion {
    margin-left: 1300px;
}

.boutton-inscription {
    margin-left: 1449px;
}