@media screen and (min-width: 80rem) {
    .container {
        margin: 1em 2em;
    }
}

.container {
    column-count: 3;
    column-width: 10em;
}

img,
picture,
video {
    max-width: 100%;
}

@import url(https://fonts.google.com/specimen/Montserrat);

body {
    margin: 0;
    font-family: 'Montserrat';
}

.navbar {
    top: 0;
    align-items: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: #152237;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

.logo.png {
    width: 3px;
    height: auto;
}

.formations {
    color: black;
}

.boutton-connextion {
    background-color: black;
}

.boutton-inscription {
    background-color: aqua;
    color: black;
}