* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}


@import url(https://fonts.google.com/specimen/Montserrat);



.navbar {
    background: #152237;
    display: flex;
    justify-content: space-around;
    /* padding: 40px; */
    align-items: center;
    padding: 15px;
}

.logo {
    width: 90px;
}

.search-bar {
    position: relative;
}


#barre-de-recherche {
    /* position: relative; */
    width: 477px;
    height: 40px;
    border: solid 1px white;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

#barre-de-recherche::placeholder {
    color: white;
}

.fa-magnifying-glass {
    position: absolute;
   right: 5px;
   top: 14px;
   color: white;

}


.formations {
    color: white;
}

.btn {
    height: 40px;
    width: 130px;
}

.boutton-inscription {
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    height: 40px;
    width: 130px;
}


.top-page {
    min-height: 451px;
    background-image: linear-gradient(
      90deg,
      rgba(68, 221, 138, 0.8) 19%,
      rgba(21, 183, 226, 0.8) 100%
    ),
    url("bg-header.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.fa-star{
    color: yellow;
}